*~
.\#*
\#*#

*.py[co]
__pycache__/
/*.egg
/*.egg-info/
*.egg-info/
/*.egg-link
/.eggs/
/.pytest_cache/
/pip-wheel-metadata/
/.coverage
/.tox

# /
/AES.pyd
/AES.so
/*.bak
/*.spec
/build/
/dist/
/out/
/*.patch
/*.log
/MANIFEST

# Temporary vim files
*.swp

# Temporary rope files
.ropeproject

# PyCharm settings
.idea

# Spyder settings
.spyproject

# macOS
.DS_store

# Windows debug symbols
*.pdb

.cache
*.prof

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode projects
*.code-workspace
*.vscode

# Coverage
.coverage
htmlcov